{% extends "base.html" %}
{% block header %}
  <!-- Page Header-->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>上海剧本杀俱乐部</h1>
                    <span class="subheading">Murder Mystery Game in Shanghai</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<!-- Main Content-->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                    <h2 class="post-title">zighouse老洋房剧本杀</h2>
                    <h3 class="post-subtitle">费用：88元(场地，饮用水，小食)</h3>
                    <h3 class="post-subtitle">时间：2021年10月01日 周五 13:00-22:00</h3>
                <p class="post-meta">
                    主办方：非鱼乐
                    发布于2021年 10月 12日
                </p>
            </div>
            <hr />
            <div class="post-preview">
                    <h2 class="post-title">欢乐剧本杀 戏精请就位</h2>
                    <h3 class="post-subtitle">费用：79元(单人票)</h3>
                    <h3 class="post-subtitle">时间：2021年10月09日 ~ 2021年10月17日 每天 13:30 - 17:30</h3>
                <p class="post-meta">
                    主办方：K2社交圈
                    发布于2021年10月12日
                </p>
            </div>
            <hr />
            <!-- Pager-->
            <div class="clearfix"><a class="btn btn-primary float-right" href="/activities">More activities →</a></div>
        </div>
    </div>
</div>
<hr />
 </div>
{% endblock %}