{% extends "base.html" %}
{% block header %}
   <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/contact-bg.jpg') }})">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="page-heading">
                            <h1>登陆</h1>
                            <span class="subheading">Login</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}
{% block content %}
        <!-- Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <center><p>用户登陆</p></center>
    <div class="login-form">
        <form method='POST' action=''>
            {{form.hidden_tag()}}
            {{form.email}}
            {{form.username}}
            {{form.password}}
            {{form.submit}}
        </form>
    </div>
                        </div>
                        <br />
                        <div id="success"></div>
                </div>
            </div>
        <hr />
{% endblock %}