{% extends "base.html" %}
{% block header %}
  <!-- Page Header-->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/venues-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>场馆位置</h1>
                    <span class="subheading">Venues location</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<!-- Main Content-->
<div class="container">
     <div class="row">
         <div class="col">
             <b>场馆名称</b>
        </div>
        <div class="col">
            <b>所属区域</b>
        </div>
        <div class="col">
            <b>详细地址</b>        
         </div>
        <div class="col">
            <b>联系电话</b>
        </div>     
     </div>
    {% for row in  entries  %}
    <div class="row">
        <div class="col">
                 {{ row["场馆名称"] }}
        </div>
        <div class="col">
                 {{ row["所属区域"] }}
        </div>
        <div class="col">
                 {{ row["详细地址"] }}
        </div>
        <div class="col">
                 {{ row["联系电话"] }}
        </div>     
    </div><!-- end row -->
    {% endfor %}
</div><!-- end container -->
<hr />
 </div>
{% endblock %}