{% extends "base.html" %}
{% block header %}
    <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/about-bg.jpg') }})">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="page-heading">
                            <h1>关于我们</h1>
                            <span class="subheading">About us</span>
                                    {% include 'messages.html' %} 
                                     {% if msg %}
                                       <div class="alert alert-warning" role="alert">{{msg}}</div>
                                    {% endif %} 
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}
{% block content %}
        <!-- Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>本网站旨在整合所有上海剧本杀资源，为剧本杀爱好者提供一个交流平台。
                    我爱剧本杀，你呢？
                    </p>
                </div>
            </div>
        </div>
        <hr />
{% endblock %}